<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298093404093-ngk0ua3lj7jt6igg8vifjbisgqem026f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298093404093-ngk0ua3lj7jt6igg8vifjbisgqem026f</string>
	<key>API_KEY</key>
	<string>AIzaSyApuEzh6TLnycxExcDXx_Xs3fObizEkLTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>298093404093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ife.com.mynotes</string>
	<key>PROJECT_ID</key>
	<string>ifebuche-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ifebuche-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298093404093:ios:ac7dad82952b750ccdbcd4</string>
</dict>
</plist>